<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--ORACLE-->
        <!--
            <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
            <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
            <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:db11g</property>
            <property name="hibernate.connection.username">simplehr</property>
            <property name="hibernate.connection.password">12345</property>
            <property name="hibernate.show_sql">true</property>
            <property name="hibernate.connection.release_mode">auto</property>
            <property name="current_session_context_class">thread</property>
            <property name="hibernate.connection.autoReconnect">true</property>-->
        <!--END ORACLE-->

        <!--MYSQL-->
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--<property name="connection.url">jdbc:mysql://tran-vmware:3306/simplehr?serverTimezone=UTC</property>-->
        <property name="connection.url">jdbc:mysql://localhost:3306/prozorro?autoReconnect=true&amp;useSSL=false&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">prozorro</property>
        <property name="connection.password">prozorro</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!--END MYSQL-->

        <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="ua.prozorro.prozorro.model.pages.ProzorroPageElement"/>


    </session-factory>

</hibernate-configuration>