<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>


    <Appenders>
        <RollingFile name="FILE" fileName="${log-path}/logfile.log"
                     filePattern="${log-path}/$${date:MM-yyyy}/app-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <!--MAX files count-->
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!--<File fileName="FILE" fileName="${log-path}/logfile.log" append="true">-->
            <!--<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>-->
        <!--</File>-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ua.curriculum.MainApp" level="debug" additivity="true"/>

        <!-- Log everything in hibernate -->
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log SQL statements -->
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FILE" />
        </Logger>

        <!-- Log JDBC bind parameters -->
        <Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FILE" />
        </Logger>

        <!-- Log custom packages -->
        <Logger name="com.boraji.tutorial.hibernate" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FILE" />
        </Logger>


        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>